<div class="center jumbotron">
  <h1>Welcome to PhotoKombat</h1>

  <h2>
    This is where the pictures will go.
  </h2>

  <%= link_to "I'm a button!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>