<div class="card-container">
  <% @categories.each do |category| %>
    <div class="card">
      <%= link_to compare_category_path(category) do %>
        <%= image_tag imgur_medium(category.top_image_url) %>
        <h2><%= category.name %></h2>
      <% end %>
    </div>
  <% end %>
</div>
