<footer class="footer">
  <small>
    by Nathan Tempelman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Placeholder", '#' %></li>
      <li><%= link_to "And another", '#' %></li>
    </ul>
  </nav>
</footer>