<!-- Technically this isnt' random, as if 50 pictures in a row were deleted,
the next picture would have a 50x greater chance of being selected, but it's
close enough for now.  -->
<% picA = Picture.offset(rand(Picture.count)).first %>
<% picB = Picture.offset(rand(Picture.count)).first %>

<div class = "col-md-6">
	<%= image_tag picA.url, :class => "thumbnail pic-compare" %>
</div>
<div class = "col-md-6">
	<%= image_tag picB.url, :class => "thumbnail pic-compare" %>
</div>
